    .profilepage{
        background-image: url('https://as2.ftcdn.net/v2/jpg/02/07/82/81/1000_F_207828137_KsQ3JNyzWlAx1hnGb1XoUMasqFWBO9lZ.jpg');
         background-size: cover;
    
        height: 100%;
        width: 100%;
     
      
    } 

.profileinfo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding-bottom: 220px;
    border: 3px solid;
    background-color: lightgrey;
 
    opacity: .80; 
    width: 275px;
    height: 650px; 
    padding-top: 20px;

}

 .profileinfo p{

    border: 1px solid;
    border-radius: 15px;
    padding: 20px;
    color: black;
    font-weight: bolder;
    align-items: center;
    justify-content: center;


} 


